:root {
  --primary: black;
  --bg-primary: white;

  --link: #2a0b0b;
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

.button-book {
  background-color: #4caf50;
  border: none;
  color: #001e1d;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10%;
}

.button-book {
  transition-duration: 0.4s;
}

.button-book:hover {
  background-color: #4caf50;
  color: white;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center > * {
  margin: 24px;
}
