:root {
  --primary: black;
  --bg-primary: white;

  --link: #2a0b0b;
}

p {
  margin: 20px 0px;
}

.header {
  font-size: 3rem;
}

.body {
  margin: 20px 0 10px;
  font-size: 0.9rem;
}

.button-book {
  background-color: #4caf50;
  border: none;
  color: #001e1d;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 10%;
  cursor: pointer;
}

.button-book {
  transition-duration: 0.4s;
}

.button-book:hover {
  background-color: #4caf50;
  color: white;
  box-shadow: 0 37px 20px -20px rgba(0, 0, 0, 0.2);
  transform: translate(0, -1px);
}

.selector {
  width: 300px;
  height: 30px;
  border-width: 2px;
  background-color: blanchedalmond;
  cursor: pointer;
}

.flex-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center > * {
  margin: 24px;
}
